__pycache__/*
./__pycache__/*
./**/__pycache__/*
*.ipynb
./ipynb_checkpoints/*

./__pycache__
*.ipynb
*.pyc
.config/__pycache__
temp/
Logs/
*.sh
*.vscode
settings.json
/datasets
/output
/output_weights

*.pth
HeadHunter--T/weights/
HeadHunter--T/./__pycache__
*.ipynb
*.pyc
HeadHunter--T/.config/__pycache__
HeadHunter--T/temp/
HeadHunter--T/*.csv
HeadHunter--T/data/*
HeadHunter--T/run_*.sh
HeadHunter--T/.vscode/*